@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=El+Messiri:regular,700);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}

@font-face {
  font-family: ProximaNova;
  src: url(/Fonts/ProximaNova-Regular.woff2);
  src: url(/Fonts/ProximaNova-Regular.woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  src: url(/Fonts/ProximaNova-Light.woff2);
  src: url(/Fonts/ProximaNova-Light.woff);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  src: url(/Fonts/ProximaNova-Semibold.woff2);
  src: url(/Fonts/ProximaNova-Semibold.woff);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  src: url(/Fonts/ProximaNova-Bold.woff2);
  src: url(/Fonts/ProximaNova-Bold.woff);
  font-weight: 700;
  font-style: normal;
}
h1 {
  font-size: 6.4em;
  font-family: El messiri;
  line-height: 90px;
}

.title {
  font-family: El messiri;
}

body {
  background-color: #162831;
  padding-top: 30px;
  font-family: ProximaNova;
  font-size: 10px;
  color: #fff;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.section {
  margin-bottom: 150px;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section:first-child {
  margin-top: 150px;
}
.section-title {
  font-size: 4.2em;
  font-family: El messiri;
  font-weight: 700;
  margin-bottom: 100px;
  position: relative;
}
.section-title::before {
  position: absolute;
  content: "";
  left: -70px;
  top: 10px;
  width: 30px;
  height: 14px;
  background: no-repeat url(/src/life/leftB.svg);
}
.section-title::after {
  position: absolute;
  content: "";
  right: -70px;
  top: 10px;
  width: 30px;
  height: 14px;
  background: no-repeat url(/src/life/rightB.svg);
}

.header {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.header-menu_list {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.header-menu_li {
  display: inline-block;
  font-size: 1.4em;
  line-height: 1.9em;
  background-image: linear-gradient(#fff, #fff);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size 0.3s;
}
.header-menu_li:hover {
  background-size: 100% 2px;
}
.header-btn {
  background-color: #018ABE;
  transition: 0.3s;
}
.header-btn:hover {
  background-color: #16779e;
}

.main {
  flex: 1 1 auto;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 600px;
  width: 100%;
  margin-bottom: 140px;
}
.footer-map {
  height: 100%;
  width: 66%;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.footer-cards {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-card {
  background-color: #018ABE;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 30px 45px;
  height: 290px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21px;
}
.footer-card--title {
  font-weight: 700;
  font-size: 2.4em;
  line-height: 34px;
}
.footer-card--list {
  display: flex;
  flex-direction: column;
  gap: 21px;
  flex: 1 1 auto;
}
.footer-card--li {
  font-size: 1.8em;
  line-height: 19px;
  margin-left: 38px;
  position: relative;
}
.footer-card--li::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 18px;
  left: -38px;
  top: 0;
}
.footer-card--li:nth-child(1)::before {
  background: no-repeat url(/src/footer/items/1.svg);
  left: -35px;
}
.footer-card--li:nth-child(2)::before {
  background: no-repeat url(/src/footer/items/2.svg);
}
.footer-card--li:nth-child(3)::before {
  background: no-repeat url(/src/footer/items/3.svg);
}
.footer-btn {
  background-color: #fff;
  color: #018ABE;
  transition: 0.3s;
}
.footer-btn:hover {
  background-color: #8dcbe4;
}

.container {
  width: 1296px;
  margin: 0 auto 0;
}
.container-slider {
  width: 1736px;
  margin: 0 auto 0;
}

.firstscreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 600px;
  background: no-repeat center url(/src/bg/1.jpg);
  border-radius: 10px;
  overflow: hidden;
}
.firstscreen-subtitle {
  font-size: 2.4em;
  line-height: 34px;
  font-weight: 700;
  margin-bottom: 40px;
  position: relative;
}
.firstscreen-subtitle::before {
  position: absolute;
  content: "";
  left: -100px;
  top: 7px;
  width: 30px;
  height: 14px;
  background: no-repeat url(/src/life/left.svg);
}
.firstscreen-subtitle::after {
  position: absolute;
  content: "";
  right: -100px;
  top: 7px;
  width: 30px;
  height: 14px;
  background: no-repeat url(/src/life/right.svg);
}
.firstscreen-title {
  text-align: center;
  font-weight: 700;
  max-width: 45%;
  margin-bottom: 210px;
}

.seans {
  display: grid;
  grid-template: auto/1fr 1fr 1fr;
  grid-template-areas: "block-1 block-2 block-3" "block-1 block-4 block-5";
  gap: 24px;
  width: 100%;
  min-height: 540px;
}
.seans-item {
  background: no-repeat url(/src/seans/1.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.seans-item:hover span {
  background-size: 100% 1px;
}
.seans-item span {
  background-image: linear-gradient(#fff, #fff);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size 0.3s;
}
.seans-item:nth-child(1) {
  grid-area: block-1;
}
.seans-item:nth-child(2) {
  grid-area: block-2;
}
.seans-item:nth-child(3) {
  grid-area: block-3;
}
.seans-item:nth-child(4) {
  grid-area: block-4;
}
.seans-item:nth-child(5) {
  grid-area: block-5;
}
.seans-title {
  font-size: 2.4em;
  line-height: 33px;
  font-weight: 700;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.reviews {
  height: 350px;
  width: 100%;
  position: relative;
}
.reviews-name {
  font-weight: 700;
  font-size: 1.8em;
  margin-bottom: 15px;
}
.reviews-text {
  font-weight: 300;
  font-size: 1.2em;
}
.reviews-text span {
  display: inline-block;
  margin-bottom: 15px;
}

.slick-track {
  display: flex;
  gap: 50px;
  align-items: center;
}
.slick-list {
  overflow: hidden;
  margin-bottom: 60px;
}
.slick-slide {
  display: inline-block;
  background-color: #018ABE;
  height: 276px;
  width: 500px;
  box-sizing: border-box;
  padding: 40px 45px;
  border-radius: 10px;
  opacity: 0.4;
}
.slick-center {
  height: 350px;
  width: 636px;
  transition: ease 0.3s;
  font-size: 1.2em;
  padding: 60px 65px;
  opacity: 1;
}
.slick-arrow {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 20%;
  height: 100%;
  font-size: 0;
}
.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
}
.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.slick-dots li {
  list-style: none;
}
.slick-dots button {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  font-size: 0;
  background-color: #fff;
  opacity: 0.4;
}
.slick-active button {
  opacity: 1;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 100px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 110px;
}
.about-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.about-content {
  display: flex;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.about-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-title {
  max-width: 466px;
  margin: 10px 0 30px;
  font-weight: 700;
  font-size: 2.4em;
  line-height: 34px;
}
.about-text {
  max-width: 466px;
  margin-bottom: 10px;
  font-size: 1.6em;
  line-height: 23px;
  font-weight: 300;
}
.about-text span {
  display: inline-block;
  margin-bottom: 20px;
}

.prices {
  box-sizing: border-box;
  padding: 0 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.prices-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
  box-sizing: border-box;
  padding: 0 130px 0 40px;
}
.prices-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.8em;
  line-height: 26px;
  position: relative;
}
.prices-item::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 9px;
  left: -38px;
  background: no-repeat url(/src/life/listLife.svg);
}
.prices-item--name {
  max-width: 250px;
  display: inline-block;
  margin-right: auto;
}
.prices-item--cost {
  max-width: 80px;
  display: inline-block;
  font-weight: 700;
  font-family: El messiri;
}
.prices-promo {
  width: 50%;
  display: flex;
  gap: 30px;
  align-items: center;
  flex-direction: column;
}
.prices-promo--img {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.prices-promo--img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.prices-promo--text {
  font-weight: 700;
  font-size: 2.1em;
  line-height: 30px;
}

.button {
  font-size: 1.3em;
  line-height: 1.9em;
  display: inline-block;
  padding: 9px 15px;
  border-radius: 3px;
  display: inline-block;
}

.form {
  top: 30%;
  transform: translateY(50%) scale(0);
  transition: 0.3s ease;
  position: fixed;
  background-color: #162831;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 500px;
  border-radius: 10px;
  border: 1px solid #fff;
  padding: 40px 45px;
  z-index: 10;
}
.form-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.form-title {
  font-size: 2.6em;
  margin-bottom: 20px;
  font-weight: 700;
  position: relative;
}
.form-title::before {
  position: absolute;
  content: "";
  left: -50px;
  top: 4px;
  width: 30px;
  height: 14px;
  background: no-repeat url(/src/life/left.svg);
}
.form-title::after {
  position: absolute;
  content: "";
  right: -50px;
  top: 4px;
  width: 30px;
  height: 14px;
  background: no-repeat url(/src/life/right.svg);
}
.form-subtitle {
  font-size: 1.8em;
  margin-bottom: 40px;
  text-align: center;
  font-weight: 700;
}
.form-item {
  margin-bottom: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}
.form-label {
  font-size: 1.8em;
  display: block;
  text-align: center;
}
.form-input {
  height: 1.8em;
  width: 70%;
  padding: 0 20px;
  line-height: 24px;
  border: none;
  background-color: transparent;
  color: inherit;
  background-image: linear-gradient(#fff, #fff);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 100% 1px;
}
.form-input:focus {
  outline: none;
}
.form-input:active {
  background-color: transparent;
}
.form-button {
  width: 155px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  box-sizing: border-box;
  padding: 9px 15px;
  background-color: #018ABE;
  border-radius: 3px;
  text-align: center;
  font-size: 1.8em;
  color: #fff;
  transition: background-color 0.2s;
  cursor: pointer;
}
.form-button:hover {
  background-color: #015170;
}
.form-close {
  position: absolute;
  top: -15px;
  right: -15px;
  font-size: 20px;
  cursor: pointer;
}

.checkbox-input {
  display: none;
}
.checkbox-label {
  font-size: 1.8em;
  line-height: 140%;
  margin-left: 27px;
  position: relative;
  cursor: pointer;
}
.checkbox-label::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  top: 0;
  left: -27px;
  background-color: #fff;
  border-radius: 3px;
}
.checkbox-label::after {
  content: "";
  position: absolute;
  height: 14px;
  width: 14px;
  top: 3px;
  left: -24px;
  background-color: #018ABE;
  border-radius: 3px;
  transform: scale(0);
  transition: transform 0.3s ease 0.2s;
}

.checkbox-input:checked + .checkbox-label::after {
  transform: scale(1);
}

._error {
  border-bottom: 3px solid red;
}

.visible {
  transform: translateY(0%) scale(1);
}