@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=El+Messiri:regular,700);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}

@font-face {
  font-family: ProximaNova;
  src: url(/Fonts/ProximaNova-Regular.woff2);
  src: url(/Fonts/ProximaNova-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: ProximaNova;
  src: url(/Fonts/ProximaNova-Light.woff2);
  src: url(/Fonts/ProximaNova-Light.woff);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: ProximaNova;
  src: url(/Fonts/ProximaNova-Semibold.woff2);
  src: url(/Fonts/ProximaNova-Semibold.woff);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: ProximaNova;
  src: url(/Fonts/ProximaNova-Bold.woff2);
  src: url(/Fonts/ProximaNova-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-size: 6.4em;
  font-family: El messiri;
  line-height: 90px;
}

.title {
  font-family: El messiri;
}

body {
  background-color: #162831;
  padding-top: 30px;
  font-family: ProximaNova;
  font-size: 10px;
  color: #fff;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section {
  margin-bottom: 150px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section:first-child {
  margin-top: 150px;
}

.section-title {
  font-size: 4.2em;
  font-family: El messiri;
  font-weight: 700;
  margin-bottom: 100px;
  position: relative;
}

.section-title::before {
  position: absolute;
  content: "";
  left: -70px;
  top: 10px;
  width: 30px;
  height: 14px;
  background: no-repeat url(/src/life/leftB.svg);
}

.section-title::after {
  position: absolute;
  content: "";
  right: -70px;
  top: 10px;
  width: 30px;
  height: 14px;
  background: no-repeat url(/src/life/rightB.svg);
}

.header {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.header-menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 50px;
}

.header-menu_li {
  display: inline-block;
  font-size: 1.4em;
  line-height: 1.9em;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(#fff, #fff);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  -webkit-transition: background-size .3s;
  transition: background-size .3s;
}

.header-menu_li:hover {
  background-size: 100% 1px;
}

.header-btn {
  background-color: #018ABE;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  width: 1296px;
  margin: 0 auto 0;
}

.firstscreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 600px;
  background: no-repeat center url(/src/bg/1.jpg);
  border-radius: 10px;
  overflow: hidden;
}

.firstscreen-subtitle {
  font-size: 2.4em;
  line-height: 34px;
  font-weight: 700;
  margin-bottom: 40px;
  position: relative;
}

.firstscreen-subtitle::before {
  position: absolute;
  content: "";
  left: -100px;
  top: 7px;
  width: 30px;
  height: 14px;
  background: no-repeat url(/src/life/left.svg);
}

.firstscreen-subtitle::after {
  position: absolute;
  content: "";
  right: -100px;
  top: 7px;
  width: 30px;
  height: 14px;
  background: no-repeat url(/src/life/right.svg);
}

.firstscreen-title {
  text-align: center;
  font-weight: 700;
  max-width: 45%;
  margin-bottom: 210px;
}

.seans {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template: auto / 1fr 1fr 1fr;
      grid-template-areas: 'block-1 block-2 block-3' 'block-1 block-4 block-5';
  gap: 24px;
  width: 100%;
  min-height: 540px;
}

.seans-item {
  background: no-repeat url(/src/seans/1.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 30px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.seans-item:hover span {
  background-size: 100% 1px;
}

.seans-item span {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(#fff, #fff);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  -webkit-transition: background-size .3s;
  transition: background-size .3s;
}

.seans-item:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: block-1;
}

.seans-item:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: block-2;
}

.seans-item:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: block-3;
}

.seans-item:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: block-4;
}

.seans-item:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: block-5;
}

.seans-title {
  font-size: 2.4em;
  line-height: 33px;
  font-weight: 700;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews-item {
  border-radius: 10px;
  background-color: #018ABE;
  width: 636px;
  height: 350px;
  padding: 50px 60px;
}

.reviews-name {
  font-size: 2em;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

.reviews-text {
  font-size: 1.8em;
  line-height: 24px;
  font-weight: 300;
  text-align: justify;
}

.reviews-text span {
  display: inline-block;
  margin-bottom: 20px;
}

.button {
  font-size: 1.3em;
  line-height: 1.9em;
  display: inline-block;
  padding: 9px 15px;
  border-radius: 3px;
}
