// Null styles ========================================================
@import "_null.scss";
// Fonts ==============================================================
@import url(https://fonts.googleapis.com/css?family=El+Messiri:regular,700);
@font-face {
    font-family: ProximaNova;
    src: url(/Fonts/ProximaNova-Regular.woff2);
    src: url(/Fonts/ProximaNova-Regular.woff);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: ProximaNova;
    src: url(/Fonts/ProximaNova-Light.woff2);
    src: url(/Fonts/ProximaNova-Light.woff);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: ProximaNova;
    src: url(/Fonts/ProximaNova-Semibold.woff2);
    src: url(/Fonts/ProximaNova-Semibold.woff);
    font-weight: 600;
    font-style: normal; 
}
@font-face {
    font-family: ProximaNova;
    src: url(/Fonts/ProximaNova-Bold.woff2);
    src: url(/Fonts/ProximaNova-Bold.woff);
    font-weight: 700;
    font-style: normal;
}

h1 {
    font-size: 6.4em;
    font-family: El messiri;
    line-height: 90px;
}

.title {
    font-family: El messiri;
}
// Main styles ====================================

body {
    background-color: #162831;
    padding-top: 30px;

    font-family: ProximaNova;
    font-size: 10px;
    color: #fff;
}
.wrapper {
    display: flex;
    flex-direction: column;
}
.section {
    margin-bottom: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:first-child {
        margin-top: 150px;
    }

    &-title {
        font-size: 4.2em;
        font-family: El messiri;
        font-weight: 700;

        margin-bottom: 100px;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            left: -70px;
            top: 10px;
            width: 30px;
            height: 14px;
            background: no-repeat url(/src/life/leftB.svg);
        }

        &::after {
            position: absolute;
            content: "";
            right: -70px;
            top: 10px;
            width: 30px;
            height: 14px;
            background: no-repeat url(/src/life/rightB.svg);
        }
    }
}

// Header =========================================
.header {
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

    &-logo {
    }
    &-menu {

        &_list {            
        display: flex;
        flex-direction: row;
        gap: 50px;
        }

        &_li {
            display: inline-block;
            font-size: 1.4em;
            line-height: 1.9em;

            background-image: linear-gradient(#fff, #fff);
            background-position: 50% 100%;
            background-repeat: no-repeat;
            background-size: 0% 1px;
            transition: background-size .3s;

            &:hover {                
            background-size: 100% 1px;
            }
        }
    }
    &-btn {
        background-color: #018ABE;
    }
}

// Main ==============================================
.main {
    flex: 1 1 auto;
}

.footer {
}

.container {
    width: 1296px;
    margin: 0 auto 0;

    &-slider {
        width: 1736px;
        margin: 0 auto 0;
    }
}
// Firstscreen ===================================
.firstscreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    height: 600px;
    background: no-repeat center url(/src/bg/1.jpg);
    border-radius: 10px;
    overflow: hidden;

    &-subtitle {
        font-size: 2.4em;
        line-height: 34px;
        font-weight: 700;

        margin-bottom: 40px;

        position: relative;

        &::before {
            position: absolute;
            content: "";
            left: -100px;
            top: 7px;
            width: 30px;
            height: 14px;
            background: no-repeat url(/src/life/left.svg);
        }

        &::after {
            position: absolute;
            content: "";
            right: -100px;
            top: 7px;
            width: 30px;
            height: 14px;
            background: no-repeat url(/src/life/right.svg);
        }
    }

    &-title {
        text-align: center;
        font-weight: 700;

        max-width: 45%;
        margin-bottom: 210px;
    }
}

// Seans =========================================
.seans {
    display: grid;
    grid-template: auto / 1fr 1fr 1fr;
    grid-template-areas: 'block-1 block-2 block-3' 'block-1 block-4 block-5';
    gap: 24px;

    width: 100%;
    min-height: 540px;

    &-item {
        background: no-repeat url(/src/seans/1.jpg);
        background-size: cover;
        background-position: center;
    
        border-radius: 10px;
        padding: 30px 50px;
    
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &:hover span {
            background-size: 100% 1px;
        }

        & span {
        background-image: linear-gradient(#fff, #fff);
        background-position: 50% 100%;
        background-repeat: no-repeat;
        background-size: 0% 1px;
        transition: background-size .3s;
        }
    
        &:nth-child(1){
            grid-area: block-1;
        }
        &:nth-child(2){
            grid-area: block-2;
        }
        &:nth-child(3){
            grid-area: block-3;
        }
        &:nth-child(4){
            grid-area: block-4;
        }
        &:nth-child(5){
            grid-area: block-5;
        }
    }

    &-title {
        font-size: 2.4em;
        line-height: 33px;
        font-weight: 700;
        
        width: fit-content;
    }
}

//  Reviews ===============================
.reviews {

    position: relative;

    &-container {
        height: 350px;
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    &-track{
        height: 100%;
        width: fit-content;
        display: flex;
        align-items: center;        
        transition: .2s;
    }

    &-item{
        background-color: #018ABE;
        border-radius: 10px;
        height: 276px;
        max-width: 500px;
        padding: 40px 45px;
        box-sizing:border-box;

        &:last-child{
            margin-right: 0;
        }
        &:first-child{
            margin-left: 0;
        }
    }
    &-name{
        margin-bottom: 15px;
        font-size: 1.6em;
        line-height: 22px;
        font-weight: 700;
    }
    &-text{
        font-size: 1em;
        line-height: 1.4em;
        font-weight: 300;
        text-align: justify;

        & span {
            display: inline-block;
            margin-bottom: 15px;
        }
    }

}

._left{
    left: 0;

}
._center{
    left: 31.68%;
    width: 37%;
    height: 100%;
    padding: 50px 60px;    

    font-size: 1.4em;
    line-height: 20px;
}
._right{
    right: 0;
}

.btn {
    &-prev{
        position: absolute;
        z-index: 10;
        height: 100%;
        width: 30%;
        left: 0;
        top: 0;
    }

    &-next{
        position: absolute;
        z-index: 10;
        height: 100%;
        width: 30%;
        right: 0;
        top: 0;
    }
}

// Button=========================================
.button {
    font-size: 1.3em;
    line-height: 1.9em;

    display: inline-block;
    padding: 9px 15px;
    border-radius: 3px;
}