// Null styles ========================================================
@import "_null.scss";
// Fonts ==============================================================
@import url(https://fonts.googleapis.com/css?family=El+Messiri:regular,700);
@font-face {
    font-family: ProximaNova;
    src: url(/Fonts/ProximaNova-Regular.woff2);
    src: url(/Fonts/ProximaNova-Regular.woff);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: ProximaNova;
    src: url(/Fonts/ProximaNova-Light.woff2);
    src: url(/Fonts/ProximaNova-Light.woff);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: ProximaNova;
    src: url(/Fonts/ProximaNova-Semibold.woff2);
    src: url(/Fonts/ProximaNova-Semibold.woff);
    font-weight: 600;
    font-style: normal; 
}
@font-face {
    font-family: ProximaNova;
    src: url(/Fonts/ProximaNova-Bold.woff2);
    src: url(/Fonts/ProximaNova-Bold.woff);
    font-weight: 700;
    font-style: normal;
}

h1 {
    font-size: 6.4em;
    font-family: El messiri;
    line-height: 90px;
}

.title {
    font-family: El messiri;
}
// Main styles ====================================

body {
    background-color: #162831;
    padding-top: 30px;

    font-family: ProximaNova;
    font-size: 10px;
    color: #fff;
}
.wrapper {
    display: flex;
    flex-direction: column;
}
.section {
    margin-bottom: 150px;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:first-child {
        margin-top: 150px;
    }

    &-title {
        font-size: 4.2em;
        font-family: El messiri;
        font-weight: 700;

        margin-bottom: 100px;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            left: -70px;
            top: 10px;
            width: 30px;
            height: 14px;
            background: no-repeat url(/src/life/leftB.svg);
        }

        &::after {
            position: absolute;
            content: "";
            right: -70px;
            top: 10px;
            width: 30px;
            height: 14px;
            background: no-repeat url(/src/life/rightB.svg);
        }
    }
}

// Header =========================================
.header {
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

    &-logo {
    }
    &-menu {

        &_list {            
        display: flex;
        flex-direction: row;
        gap: 50px;
        }

        &_li {
            display: inline-block;
            font-size: 1.4em;
            line-height: 1.9em;

            background-image: linear-gradient(#fff, #fff);
            background-position: 50% 100%;
            background-repeat: no-repeat;
            background-size: 0% 1px;
            transition: background-size .3s;

            &:hover {                
            background-size: 100% 2px;
            }
        }
    }
    &-btn {
        background-color: #018ABE;
        transition: .3s;
        &:hover{
            background-color: #16779e;
        }
    }
}

// Main ==============================================
.main {
    flex: 1 1 auto;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 600px;
    width: 100%;
    margin-bottom: 140px;

    &-map {
        height: 100%;
        width: 66%;
        background-color: #fff;
        border-radius: 10px;
        overflow: hidden;
    }
    &-cards {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &-card {
        background-color: #018ABE;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 30px 45px;
        height: 290px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 21px;
        &--title {
            font-weight: 700;
            font-size: 2.4em;
            line-height: 34px;
        }
        &--list{
            display: flex;
            flex-direction: column;
            gap: 21px;
            flex: 1 1 auto;
        }
        &--li {
            font-size: 1.8em;            
            line-height: 19px;

            margin-left: 38px;
            position: relative;

            &::before{
                content: "";
                position: absolute;
                width: 20px;
                height: 18px;
                left: -38px;
                top: 0;
                
            }
            &:nth-child(1)::before{
                background: no-repeat url(/src/footer/items/1.svg);
                left: -35px;
            }
            &:nth-child(2)::before{
                background: no-repeat url(/src/footer/items/2.svg);
            }
            &:nth-child(3)::before{
                background: no-repeat url(/src/footer/items/3.svg);
            }
        }
    }
    &-btn {
        background-color: #fff;
        color: #018ABE;
        transition: .3s;
        &:hover{
            background-color: #8dcbe4;
        }
    }
}

.container {
    width: 1296px;
    margin: 0 auto 0;
    &-slider {
        width: 1736px;
        margin: 0 auto 0;
    }
}
// Firstscreen ===================================
.firstscreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    height: 600px;
    background: no-repeat center url(/src/bg/1.jpg);
    border-radius: 10px;
    overflow: hidden;

    &-subtitle {
        font-size: 2.4em;
        line-height: 34px;
        font-weight: 700;

        margin-bottom: 40px;

        position: relative;

        &::before {
            position: absolute;
            content: "";
            left: -100px;
            top: 7px;
            width: 30px;
            height: 14px;
            background: no-repeat url(/src/life/left.svg);
        }

        &::after {
            position: absolute;
            content: "";
            right: -100px;
            top: 7px;
            width: 30px;
            height: 14px;
            background: no-repeat url(/src/life/right.svg);
        }
    }

    &-title {
        text-align: center;
        font-weight: 700;

        max-width: 45%;
        margin-bottom: 210px;
    }
}

// Seans =========================================
.seans {
    display: grid;
    grid-template: auto / 1fr 1fr 1fr;
    grid-template-areas: 'block-1 block-2 block-3' 'block-1 block-4 block-5';
    gap: 24px;

    width: 100%;
    min-height: 540px;

    &-item {
        background: no-repeat url(/src/seans/1.jpg);
        background-size: cover;
        background-position: center;
    
        border-radius: 10px;
        padding: 30px 50px;
    
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &:hover span {
            background-size: 100% 1px;
        }

        & span {
        background-image: linear-gradient(#fff, #fff);
        background-position: 50% 100%;
        background-repeat: no-repeat;
        background-size: 0% 1px;
        transition: background-size .3s;
        }
    
        &:nth-child(1){
            grid-area: block-1;
        }
        &:nth-child(2){
            grid-area: block-2;
        }
        &:nth-child(3){
            grid-area: block-3;
        }
        &:nth-child(4){
            grid-area: block-4;
        }
        &:nth-child(5){
            grid-area: block-5;
        }
    }

    &-title {
        font-size: 2.4em;
        line-height: 33px;
        font-weight: 700;
        
        width: fit-content;
    }
}

// Reviews ====================================
.reviews{
    height: 350px;
    width: 100%;
    position: relative;

    &-item {
    }
    &-name {
        font-weight: 700;
        font-size: 1.8em;
        margin-bottom: 15px;
    }
    &-text {        
        font-weight: 300;
        font-size: 1.2em;
        & span {
            display: inline-block;
            margin-bottom: 15px;
        }
    }
}

// Slick slider===================================

.slick{
    &-track{
        display: flex;
        gap: 50px;
        align-items: center;
    }
    &-list{
        overflow: hidden;
        margin-bottom: 60px;
    }
    &-slide{
        display: inline-block;
        background-color: #018ABE;        
        height: 276px;
        width: 500px;

        box-sizing: border-box;
        padding: 40px 45px;
        border-radius: 10px;
        opacity: 0.4;
    }
    &-center{
        height: 350px;
        width: 636px;
        transition: ease .3s;
        font-size: 1.2em;
        
        padding: 60px 65px;
        opacity: 1;
    }
    &-arrow{
        position: absolute;
        top: 0;
        z-index: 10;
        width: 20%;
        height: 100%;
        font-size: 0;
    }
    &-prev{
        left: 0;
    }
    &-next{
        right: 0;
    }
    &-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        & li{
            list-style: none;
        }
        & button {
            width: 16px;
            height: 16px;
            border-radius: 3px;
            font-size: 0;
            background-color: #fff;
            opacity: 0.4;
        }
    }
    &-active button {
        opacity: 1;
    }
}
//  About =================================
.about {
    display: flex;
    flex-direction: column;    
    gap: 100px;

    width: 100%;
    box-sizing: border-box;
    padding: 0 110px;

    &-block {
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &-content {
        display: flex;
        justify-content: center;
        flex: 0 1 auto;
        flex-direction: column;

        width: fit-content;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-title {
        max-width: 466px;
        margin: 10px 0 30px;

        font-weight: 700;
        font-size: 2.4em;
        line-height: 34px;
    }
    &-text {
        max-width: 466px;
        margin-bottom: 10px;

        font-size: 1.6em;
        line-height: 23px;
        font-weight: 300;
            & span {
                display: inline-block;
                margin-bottom: 20px;
            }
    }
}

// Prices =======================================

.prices {
    box-sizing: border-box;
    padding: 0 110px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    &-list {
        display: flex;
        flex-direction: column;
        gap: 30px;

        width: 50%;
        box-sizing: border-box;
        padding: 0 130px 0 40px;
    }
    &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        font-size: 1.8em;
        line-height: 26px;

        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 18px;
            height: 9px;
            left: -38px;
            background: no-repeat url(/src/life/listLife.svg);
        }

        &--name {
            max-width: 250px;
            display: inline-block;
            margin-right: auto;
        }
        &--cost {
            max-width: 80px;
            display: inline-block;
            
            font-weight: 700;
            font-family: El messiri;
        }
    }
    &-promo {
        width: 50%;
        display: flex;
        gap: 30px;
        align-items: center;
        flex-direction: column;

        &--img {
            position: relative;
            border-radius: 10px;
            overflow: hidden;

            & img{
                width: 100%;
                height: 100%;
                object-fit: cover;    
            }
        }
        &--text {
            font-weight: 700;
            font-size: 2.1em;
            line-height: 30px;
        }
    }
}
// Button=========================================
    .button {
    font-size: 1.3em;
    line-height: 1.9em;

    display: inline-block;
    padding: 9px 15px;
    border-radius: 3px;
}